<!-- templates/base.html -->
<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Tweet Generator</title>
  <link rel="shortcut icon" href="static/twitter.ico"/>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/custom.css"/>

</head>
<body>
    {% block content %}
    {% endblock %}
</body>
<footer class="page-footer font-small blue">
    <div class="text-center fixed-bottom">
        <a href="https://twitter.com/Scarlet_Markovv">Twitter Page</a>
    </div>
</footer>
</html>
