<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container text-light">
<div class="row">
    <div class="col-md-12" style="padding-top: 5%">
        <h1></h1>
            <div class="text-center" style="padding-top: 25%">
                <h2></h2>
                <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">{{ click }}</a>
                <div class="" style= "padding-top: 2%">
                <form action="/" method="post">
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
